/.metadata/
CS211S-Module6/src/.DS_Store
*.prefs
CS211S-Module7/.classpath
CS211S-Module7/.DS_Store
CS211S-Module7/.project
*.zip
.metadata/.log
*.snap
*.snap
*.snap
CS211S Module2 Discussion/.DS_Store
