/.metadata/
CS211S-Module6/src/.DS_Store
*.prefs
CS211S-Module7/.classpath
CS211S-Module7/.DS_Store
CS211S-Module7/.project
*.zip
.metadata/.log
*.snap
*.snap
*.snap
*.DS_Store
CS211S Module2 Discussion/.DS_Store
CS111C-M6 Graded Discussion/.classpath
CS111C-M6 Graded Discussion/.DS_Store
CS111C-M6 Graded Discussion/.project
CS111C-M6 Homework/.classpath
CS111C-M6 Homework/.DS_Store
CS111C-M6 Homework/.project
CS111C-M7 Graded Discussion/.classpath
CS111C-M7 Graded Discussion/.DS_Store
CS111C-M7 Graded Discussion/.project
CS111C-M7 Homework/.DS_Store
CS111C-M7 Homework/.classpath
CS111C-M3 Homework/.DS_Store
CS111C-M4 Homework/.DS_Store
CS211S-Module7/311_Cases.csv
CS211S-Module6/.project
CS211S-Module6/.DS_Store
CS211S-Module6 Discussion/.classpath
CS211S-Module6 Discussion/.DS_Store
CS211S-Module6 Discussion/.project
CS211S-Module6/.classpath
CS111C-Project B/.project
CS111C-M7 Homework/.project
CS111C-Project A/src/.DS_Store
CS111C-Project B/.classpath
CS111C-Project B/.DS_Store
Police Data/.classpath
Police Data/.project
.metadata/.DS_Store
.metadata/.plugins/.DS_Store
CS111C-M1/.DS_Store
CS111C-M2 Graded Discussion/.DS_Store
CS111C-M2 Homework/.DS_Store
CS111C-M3 Graded Discussion/.DS_Store
CS111C-M3 Homework/.DS_Store
CS111C-Module 9 Homework/.DS_Store
CS211S Module2 Discussion/.DS_Store
*.csv
CS211S-Module1/.DS_Store
CS211S-M2 Project/.DS_Store
CS211S Module2 Discussion/.DS_Store
*.class
CS211S-Module11-B/311_Cases.csv.old
